@font-face {
    font-family: "gil-reg";
    src: url("fonts/Gilroy-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gil-reg";
}

body,
html {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
    pointer-events: all;
}

a:hover {
    zoom: 120%;
    color: #3498db;
}

.back {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.back img {
    width: 100%;
    height:100vh;
    object-fit: cover;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 13vh);
}

.working-area {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    position: relative;
    color: white;
}
.navbar {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "gill", sans-serif;
    z-index: 1;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.nav-left img {
    height: 100px;
}

.nav-right {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.nav-right #myLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 5vh);
    right: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 3;
}

.nav-right.open #myLinks {
    opacity: 1;
    transform: scaleY(1);
}

.nav-right a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.nav-right a:hover {
    background-color: #ddd;
    color: black;
}

.icon {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .nav-left img {
        height: 80px;
    }
    .nav-right {
        width: 100%;
    }
    .icon {
        display: block;
    }
}

.content {
    width: 100%;
    height: calc(100vh - 14vh);
    display: flex;
    gap: 2vh;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    margin-top: 5vh;
}
.content h2{
    font-size: 4vw;
    width:100%;
    text-align: center;
    padding:2vw;
}

.form {
    width: 75%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form #order {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    text-align: center;
}

.form button {
    height: 30%;
    width: 20%;
    background-color: #3498db;
    font-size: 1.2vw;
    margin: 1vh;
    border-radius: 12px;
    font-weight: 800;
}
#L{
    color: #3498db;
}
#track {
    width: 75%;
    height: 70%;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
    color: whitesmoke;
}

#track p {
    color: whitesmoke;
    font-weight: 500;
}

.tracking-progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#info,
#expected,
#user {
    text-align: left;
    font-size: 2vw;
}


.tracking-stage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tracking-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 2px solid #3498db;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tracking-icon:hover {
    background-color: #3498db;
}

.tracking-icon img {
    width: 50%;
    height: auto;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar-fill {
    height: 100%;
    background-color: #3498db;
    border-radius: 5px;
    transition: width 0.4s ease-in-out;
}

.expected-delivery p {
    font-size: 4vw;
    background-color: rebeccapurple;
}

@media screen and (max-width: 768px) and (min-width: 200px) {
    .content {
        width: 100%;
        height: calc(100vh - 14vh);
        display: flex;
        flex-direction: column;
    }
    .content h2 {
        font-size: 5vw;
      }
   
    .tracking-progress {
        padding: 10px;
        height: 80%;
    }
    #track {
        width: 100%;
        height: 100%;
        font-size: 3vw;
        margin: 0 auto;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        font-weight: 400;
        color: whitesmoke;
    }
    .tracking-icon {
        width: 50px;
        height: 50px;
    }
    .form #order {
        width: 70%;
        height: 40%;
        border-radius: 10px;
        text-align: center;
    }
    
    .form button {
        height: 40%;
        width: 30%;
        background-color: #3498db;
        font-size: 2.5vw;
        margin: 1vh;
        border-radius: 12px;
    }
    .tracking-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 2px solid #3498db;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    #info,
    #expected,
    #user {
        text-align: left;
        font-size: 4vw;
    }
}
