@font-face {
    font-family: "gil-reg";
    src: url("fonts/Gilroy-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gil-reg";
}

body,html{
    width:100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.main{
    width: 100%;
    height:100vh;
}
a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 300;
    pointer-events: all;
}
a:hover{
    zoom: 120%;
    color: #3498db;
}
.back{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.back img{
    width: 100%;
    height:100vh;
    object-fit: cover;
}
.top{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
}
.working-area{
    margin: 0 auto;
    width:80%;
    height: calc(100vh - 13vh);
    position: relative;
    color:white;
}
.navbar {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "gill", sans-serif;
    z-index: 1;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.nav-left img {
    height: 100px;
}

.nav-right {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.nav-right #myLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 3;
}

.nav-right.open #myLinks {
    opacity: 1;
    transform: scaleY(1);
}

.nav-right a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.nav-right a:hover {
    background-color: #ddd;
    color: black;
}

.icon {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 3;
}

@media screen and (max-width: 768px) {
    .nav-left img {
        height: 80px;
    }
    .nav-right {
        width: 100%;
    }
    .icon {
        display: block;
    }
}
.content{
    width: 100%;
    height: calc(100vh - 24vh);
    position: absolute;
    top:50%;
    left:0%;
    transform: translate(0% ,-50%);
}

.user-info{
    width:75%;
    height:100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border:1px solid whitesmoke;
}
.user-info h2{
    font-size: 3vw;
    width:100%;
    text-align: center;
    padding:1.5vw;
}
.user-info p{
    width:100%;
    font-size: 1.5vw;
    text-align: center;
    padding-bottom: 2vh;
}
.info-content{
    width:100%;
    height:80%;
    padding: 2vw;
    display: flex;
}
.info-left{
    width:40%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-left img{
    width: 100%;
    height:auto;
    object-fit: cover;
}
.info-right{
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
}
.tb{
    width:100%;
    height: 70%;
}
table{
    font-size: 3vh;
    font-weight: 300;
    height: 80%;
    padding: 1vw;
    line-height: 22px;
}
td{
    padding: 1vh 0;
}
.button{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
#L{
    color:#3498db;
}
#but{
    padding: 1vw;
    font-size: 2vw;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: black;
    
}
.emergency{
    padding: 1vw;
    font-size: 2vw;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color:rgb(143, 35, 35);
    color: black;
    gap:20px;
}
button:hover{
    zoom: 110%;
}
#guide{
    color: #3498db;
    cursor: pointer;
}
#guide:hover{
    zoom:110%;
    text-decoration: underline;
}
@media screen and (max-width: 650px) and (min-width: 200px) {
    .working-area {
      width: 90%;
    }
    .info-content{
        flex-direction: column;
        align-items: center;
    }
    .info-left img{
        max-width:40%;
        max-height: 100%;
        object-fit: cover;
    }
    .nav {
      padding: 10px;
    }
  
    .content h2 {
      font-size: 5vw;
    }
  
    .content p {
      font-size: 3vw;
    }
  
    .content-buttons {
      padding: 1vw;
    }
  
    #but, .emergency {
      font-size: 3vw;
    }
    table{
        font-size: 2vh;
    }
  }